spring:
  profiles:
    active: dev
  application:
    name: auth-service
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        debug: true
        transport:
          protocol: smtp
        smtp:
          ssl:
            trust: smtp.gmail.com
          auth: true
          starttls:
            enable: true
confirm-code:
  expiration: P1D
server:
  port: 8442
jwt:
  secret: MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE
  expiration-time: P30D
scheduler-timeout:
  clear-old-coles: 0 0 * * * *